<article>
   <ol>
      <li>
         Press "Load component without DI"
      </li>
      <li>
         Component will be rendered below
      </li>
      <li>
         Press "Load component with DI"
      </li>
      <li>
         The following error is logged to the console:
         <pre>Error: This constructor is not compatible with Angular Dependency Injection because its dependency at index 0 of the parameter list is invalid.</pre>
      </li>
   </ol>
</article>
<button (click)="loadComponentWithoutDI()">Load component without DI</button>
<button (click)="loadComponentWithDI()">Load component with DI</button>
<ng-container #viewRef></ng-container>